# Web & Workers
fastapi
uvicorn
python-multipart
celery
redis

# Image Processing
opencv-python-headless
Pillow

# Hugging Face & Model Hub
diffusers
huggingface-hub
hf-transfer
safetensors
transformers

# Model Execution Frameworks
openvino
optimum
optimum-intel
torch
torchvision
ultralytics
simple-lama-inpainting
